<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flipkart.rssreader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission android:name="com.flipkart.rssreader.READ_FEED_DATA"
                android:description="@string/permission_description"
                android:protectionLevel="normal"/>

    <application
        android:name=".RSSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RSSService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.flipkart.rssreader"
            android:enabled="true"
            android:exported="true"
            android:permission="com.flipkart.rssreader.READ_FEED_DATA">
        </provider>
    </application>

</manifest>
